Idemia.MicrochipMachine/Service References/BackEnd/BackendService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49247/BackendService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" />
  <xs:element name="GetRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" minOccurs="0" name="GetRequestsResult" nillable="true" type="q1:ArrayOfRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" minOccurs="0" name="GetRequestStatusesResult" nillable="true" type="q2:ArrayOfRequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" minOccurs="0" name="request" nillable="true" type="q3:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" minOccurs="0" name="GetNextRequestResult" nillable="true" type="q4:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransitionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notifyCustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notifyManager" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransitionRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransitionRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactoryStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactoryStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" minOccurs="0" name="GetFactoryStatsResult" nillable="true" type="q5:ArrayOfFactoryStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearInProgress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearInProgressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>