Idemia.MicrochipMachine/Service References/BackEnd/BackendService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Idemia.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" nillable="true" type="tns:Request" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequest" nillable="true" type="tns:ArrayOfRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfRequestStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestStatus" nillable="true" type="tns:RequestStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestStatus" nillable="true" type="tns:ArrayOfRequestStatus" />
  <xs:complexType name="RequestStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NotifyCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="NotifyManager" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestStatus" nillable="true" type="tns:RequestStatus" />
  <xs:complexType name="ArrayOfFactoryStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FactoryStatistic" nillable="true" type="tns:FactoryStatistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactoryStatistic" nillable="true" type="tns:ArrayOfFactoryStatistic" />
  <xs:complexType name="FactoryStatistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FactoryStatistic" nillable="true" type="tns:FactoryStatistic" />
</xs:schema>